*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
@font-face {
  font-family: Regular;
  src: url(netflix-sans-font/NetflixSans-Regular.otf);
}
@font-face {
  font-family: Bold;
  src: url(netflix-sans-font/NetflixSans-Bold.otf);
}
@font-face {
  font-family: Medium;
  src: url(netflix-sans-font/NetflixSans-Medium.otf);
}
@font-face {
  font-family: Light;
  src: url(netflix-sans-font/NetflixSans-Light.otf);
}
ul{
  line-height: 31px;
}
.Firstrow{
  height: auto;
  background-image: linear-gradient(to right,#00081da0,#00081da0 ),url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg);
  background-color:#00081d;
  background-repeat: no-repeat;
  background-size: 100% auto;
  // position: relative;

  .BeautifulCol{
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right, #c4091c, #6c1149, #001979
    ) 1;
    // margin-bottom: 25%;
  }
  .ChildOfFirstrow{
    margin-top: 10%;
    // position: absolute;
    // margin-top: 46%;
    // background-color:#00081d;
  }
}
.CardRow{
  background-color:#00081d;
 
}
.card{
  background-image: linear-gradient(120deg, rgb(2,15,65),rgb(69,13,52));
  color: white;
  border-radius: 10px;
}
button{
  background-color: rgb(229, 9, 20);
  color: white;
 border-radius: 10px;
 padding: 0%;
 border: none;
  &:hover{
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(193, 17, 25);
  }
}

.button-7 {
  background-color: rgb(229, 9, 20);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color:  rgb(193, 17, 25);
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}
// .ReadyTo{
//   font-size: 20px;
// }
// h1{
//  font-family: Bold;
//  font-size: 64px;
//  font-weight: 900;
// }
// .WatchAnywhere{
//   font-size:24px;
//   font-weight:500;
// }
.Try1{
  position: relative;
  height: 100px;
}
.Try2{
  position: absolute;
  height: 100px;
  margin-top: -80px;
}
